*{
    margin: 0;
}
body{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.head{
    background-color: #92f5aa;
    color: navy;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.head h1{
    margin-left: 40px;
}
.conatainer{
    padding: 10px;
}
.content{
    padding: 20px;
    height: 300px;
    width: 400px;
    background-color: black;
    margin-left: 29px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    display:inline-block;
    vertical-align: top;
}
.content h2{
    color:#92f5aa;
}
.content p,h3{
    color:#f8f8f8;
}
.content button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: none;
    background-color: thistle;
    color: whitesmoke;
    border-radius: 5px;
}
.add{
    border-radius: 100%;
    border: none;
    background-color: black;
    width: 80px;
    height: 80px;
    color: #92f5aa;
    font-size: 40px;
    right: 20px;
    position: fixed;
}
.overlayer{
    background-color: black;
    top: 0;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.pop-box{
    background-color: #92f5aa;
    width: 40%;
    padding: 40px;
    position: absolute;
    border-radius: 20px;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.pop-box input{
    border: none;
    border-bottom: solid black 2px;
    background: transparent;
    width: 100%;
    margin: 5px;
    font-size: 20px;
}
.pop-box input::placeholder{
    color: black;
}
.pop-box textarea::placeholder{
    color: black;
}
.pop-box textarea{
    border: solid black 2px;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}
.pop-box button{
    background-color: black;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.pop-box input:focus{
    outline: none;
}
.pop-box textarea:focus{
    outline: none;
}